/ Edit User Profile
/ Code for loggin in/starting a new devise session

:css
  .FormPage{
    background-image: url(#{randomized_background_image});
  }
.FormPage  
  .form
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      %h1 Edit User Profile

      = f.input :email, :autofocus => true, :placeholder => "Email"    
      = f.input :username, :placeholder => "Username"
      = f.input :instagram, :placeholder => "Instragram Username"
      = f.input :twitter, :placeholder => "Twitter Username"
      = f.input :photo, as: :file
      %i To change your password please enter your new password twice. Leave the fields blank if you do not wish to update your password.
      = f.input :password, :placeholder => "New Password"
      = f.input :password_confirmation, :placeholder => "Confirm New Password"
      %i To confirm changes enter your current password. 
      = f.input :current_password, :placeholder => "Current Password"
      .links
        / #{button_to "Cancel Account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.submit "Update" 