/ Code for signing up to the website
.signupgeneral
  .signup
    .form
      %h2 Sign Up
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = devise_error_messages!
        .text
          = f.label :first_name
        .box
          = f.email_field :first_name
        %br/

        .text
          = f.label :last_name
        .box
          = f.email_field :last_name
        %br/

        .text
          = f.label :email
        .box
          = f.email_field :email, :autofocus => true
        %br/
        .text
          = f.label :password
        .box
          = f.password_field :password
        %br/
        .text
          = f.label :password_confirmation
        .box
          = f.password_field :password_confirmation
        %br/
        .button
          = f.submit "Sign Up"
        .links
          = link_to "Didn't receive confirmation email?", "/users/confirmation/new"
        %br
          = link_to image_tag('google-logo.png'), "/users/auth/google_oauth2"
          = link_to image_tag('facebook-logo.png'), "/users/auth/facebook"


 
  
     
    

