/ signup for website

.container.sixteen.columns#SignUpPage
  
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!

    #LeForm
      %h1 Sign Up
      %br

      %h4= f.label :first_name
      = f.text_field :first_name
      %br/
      %br/
      %h4= f.label :last_name
      = f.text_field :last_name
      %br/
      %br/

      = f.label :email
      = f.email_field :email, :autofocus => true
      %br/
      %br/
      = f.label :password
      = f.password_field :password
      %br/
      %br/
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      %br/
      %br/
      #SubmitButton
        = f.submit "Sign Up"
        %br/
        %br/
      #SMImages
        = link_to "Didn't receive confirmation email?", "/users/confirmation/new"
        %br
        = link_to image_tag('Google.png'), "/users/auth/google_oauth2"
        = link_to image_tag('Facebook.png'), "/users/auth/facebook"
