/ signup for website
/ Code for loggin in/starting a new devise session

:css
  .FormPage{
    background-image: url(#{randomized_background_image});
  }
.FormPage  
  .form
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      %h1 Sign Up
      .SMFacebook
        = link_to ' Sign Up With Facebook', "/users/auth/facebook"
      .SMGoogle
        = link_to 'Sign Up With Google', "/users/auth/google_oauth2"
      = f.input :email, :autofocus => true, :placeholder => "Email"    
      = f.input :password, :placeholder => "Password"
      = f.input :password_confirmation, :placeholder => "Confirm Password"
      = f.input :username, :placeholder => "Username"
      = f.input :instagram, :placeholder => "Instragram Username"
      = f.input :twitter, :placeholder => "Twitter Username"
      = f.input :photo, as: :file
      .links
        = link_to "Terms of Service", terms_path
        = link_to "Re-Send Confirmation", "/users/confirmation/new"
      - if devise_mapping.rememberable?
        = f.hidden_field(:remember_me, value: 1)    
      = f.submit "Sign Up" 