-if user_signed_in?
  - if @user.role == "admin"
    #admin.container.sixteen.columns
      %h1 Administration
      .eight.columns.alpha
        %h4 Posts
        %p Number of Posts:
        = @posts.count
        %hr
        %hr

        - @posts.reverse_each do |post|
          %li= link_to post.title
          = post.created_at
          %br
          = post.score

          %br
          %br
          %br
          %hr


      .eight.columns.omega
        %h4 Users
        %p Number of Users:
        = @users.count
  -else  
    #admin.container.sixteen.columns
    %img{src: '/assets/admin.jpg'}/

-else 
  #admin.container.sixteen.columns
    %img{src: '/assets/admin.jpg'}/



