.container.sixteen.columns#UserProfileForm
  = form_for(@user) do |f|
    #LeForm
      = f.label :first_name
      = f.text_field :first_name
      %br
      %br
      = f.label :last_name
      = f.text_field :last_name
      %br
      = f.label :email
      = f.text_field :email
      %br
      = f.label :password
      = f.text_field :password
      %br
      = f.label :password_confirmation
      = f.text_field :password_confirmation
      %br
      / = f.label :photo
      / = f.file_field :photo
      #SubmitButton
        = f.submit
        %br
        %br
   