.container-favs
  .favs-container-1
    %h2 Favorite Posts
    - @top_posts.each do |post|
      .post-break
        %hr
      .post-score
        = "#{post.score}"
      .post-comment
        = link_to post.content, post
      .post-commentcount
        = "Comments: #{post.comment_count} | #{post.user.name}"
    .post-break
      %hr