= image_tag @user.photo
%h1= @user.username

- if present?
  %a{:href => "http://www.instagram.com/#{@user.instagram}", :target => "_blank"} Instagram

- if present?
  %a{:href => "http://www.twitter.com/#{@user.twitter}", :target => "_blank"} Twitter

- if can? :edit, @user
  = link_to "edit", edit_user_path(@user)

- if can? :destroy, @post
  = link_to "destroy", user_path(@user), :method => :delete

// show user's photos

- @user.posts do |post|
  = link_to image_tag(post.photo_url(:post_index)), post
