/ Code for loggin in/starting a new devise session
.container.sixteen.columns#loginimage
  .logingeneral
    .login
      .six.columns
          .form
            %h2 Log In
            = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              .text
                = f.label :email, "Hey Now"
                = f.email_field :email,  :autofocus => true
              %br
              %br
              %br
              .text
                = f.label :password
                = f.password_field :password
              %br/
              %br
              %br
              %br
              - if devise_mapping.rememberable?
                = f.check_box :remember_me
                = f.label :remember_me
              %br/
              %br/
              .button
                = f.submit "Sign In"
              %br/
              %br/
              .links
                = link_to 'New password?', "/users/password/new"
              %br
              %br/
              .loginimages
                = link_to image_tag('SM-Google-G.png'), "/users/auth/google_oauth2"
                = link_to image_tag('SM-Facebook-F.png'), "/users/auth/facebook"
                / = link_to image_tag('SM-Twitter-T.png'), "twitter.com"
          

     