/ Code for loggin in/starting a new devise session
:css
  .FormPage{
    background-image: url(#{randomized_background_image});
  }
.FormPage  
  .form
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %h1 Login
      .SMFacebook
        = link_to ' Log In With Facebook', "/users/auth/facebook"
      .SMGoogle
        = link_to 'Log In With Google', "/users/auth/google_oauth2"
      = f.input :email, :autofocus => true, :placeholder => "Email"    
      = f.input :password, :placeholder => "Password"
      .links
        = link_to 'New Password?', "/users/password/new"
        = link_to "Re-Send Confirmation", "/users/confirmation/new"
      - if devise_mapping.rememberable?
        = f.hidden_field(:remember_me, value: 1)    
      = f.submit "Log In" 
