/ Code for loggin in/starting a new devise session
#LogInPage
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .container
      .sixteen.columns#LeForm
        .row#SMImages
          .eight.columns.alpha
            = link_to image_tag('Google.png'), "/users/auth/google_oauth2"
          .eight.columns.omega
            = link_to image_tag('Facebook.png'), "/users/auth/facebook"
        .row
          .eight.columns.alpha
            = f.email_field :email, :autofocus => true, :placeholder => "Email"
          .eight.columns.omega
            = f.password_field :password, :placeholder => "Password"
        .row
          .eight.columns.alpha
            = link_to 'New Password?', "/users/password/new"
          .eight.columns.omega
            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              = f.label :remember_me           
              
        .row
          .sixteen.columns#SubmitButton
            = f.submit "Log In"

 
