/ Code for loggin in/starting a new devise session
.container.sixteen.columns#LogInPage
  
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

    #LeForm
      %h1 Log In
      %br/

      %h4= f.label :email
      = f.email_field :email, :autofocus => true
      %br/
      %br/
      = f.label :password
      = f.password_field :password
      
      %br/
      %br/
      #Remember
        - if devise_mapping.rememberable?
          = f.label :remember_me
          = f.check_box :remember_me
          %br
          %br
      #SubmitButton
        = f.submit "Log In"
      %br/
      %br/
      #SMImages
        %br
        = link_to image_tag('Google.png'), "/users/auth/google_oauth2"
        = link_to image_tag('Facebook.png'), "/users/auth/facebook"
        %br
        = link_to 'New Password?', "/users/password/new"
