%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  %div
    = f.label :password
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me
      = f.label :remember_me
  %div= f.submit "Sign in"
= render "devise/shared/links"

%hr
  
  
.oauth
Sign in with:
= link_to image_tag('google_button.png'), user_omniauth_authorize_path(:google_oauth2)
/ = link_to image_tag('facebook2.jpeg'), "/users/auth/facebook"
  
%hr
.links
  = link_to 'Forgot your password?', "/users/password/new"
.links
  = link_to "Didn't receive confirmation email?", "/users/confirmation/new"
