= form_for(@post) do |f|
  = f.label :title
  = f.text_field :title
  = f.label :description
  = f.text_field :description
  = f.label :tag_list, "Tags(separated by commas)"
  = f.text_field :tag_list
  = f.label :photo
  = f.file_field :photo
  = f.submit
 