= form_for(@post) do |f|
  = f.label :title, "Not sure? Give it your best shot!"
  = f.text_field :title
  %br
  = f.label :artist, "Not sure? Write unkown"
  = f.text_field :artist
  %br
  = f.label :commision, "Was this piece created in exchange for goods, services, or money? "
  = f.text_field :commision
  %br
  = f.label :address, "Please include street, city, and country"
  = f.text_field :address
  %br
  = f.label :medium, "What was this piece created with?"
  = f.text_field :medium
  %br
  = f.label :description
  = f.text_field :description
  %br
  = f.label :tag_list, "Tags(separated by commas)"
  = f.text_field :tag_list
  %br
  = f.label :photo
  = f.file_field :photo
  %br
  = f.submit
 
 