%h2= @post.title 
%br
Artist:
= @post.artist
%br
Commisioned?:
= @post.commision
%br
Medium:
= @post.medium
%br
Address:
= @post.address
%br
= @post.description
%br
= "Curation Score: #{@post.score}"

 


/ the HTML for the tags has escaped, so pass this code through the raw method so that it isn’t escaped. 

%br
Tags: #{raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')} 

%br
- if current_user.present?
  = link_to image_tag('assets/thumbs_up.gif', title: "Upvote"), vote_post_path(@post) + "?score=1", method: :put
  = link_to image_tag('assets/thumbs_down.gif',title: "Downvote"), vote_post_path(@post) + "?score=-1", method: :put
  = link_to image_tag('assets/star.png', title: "Favorite This Piece"), assign_favorite_post_post_path(@post), method: :put
  

- if can? :edit, @post
  = link_to "edit", edit_post_path(@post)

- if can? :destroy, @post
  = link_to "destroy", post_path(@post), :method => :delete

%br
= image_tag @post.photo


