

<<<<<<< HEAD
  .posts-show-left
    = @post.description
    %br
    artist:
    = @post.artist
    %br
    medium: 
    = @post.medium
    %br
    Commissioned?
    = @post.commision
    %br
    = "Curation Score: #{@post.score}"
    %br
    = raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
    %br
    Address:
    = @post.address
    %br
    .posts-show-static-map
      = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{@post.address}" 
 
    
  
    .posts-show-share
      %span.st_facebook_large{displaytext: "Facebook"}
      %span.st_twitter_large{displaytext: "Tweet"}
      %span.st_pinterest_large{displaytext: "Pinterest"}
      %span.st_tumblr_large{displaytext: "Tumblr"}
      %span.st_reddit_large{displaytext: "Reddit"}
      %span.st_googleplus_large{displaytext: "Google +"}
      %span.st_email_large{displaytext: "Email"}

    .posts-show-voting
      - if current_user.present?
        = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/arrow-141-xxl.png', title: "Upvote"), vote_post_path(@post) + "?score=1", method: :put
        = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/arrow-204-xxl.png',title: "Downvote"), vote_post_path(@post) + "?score=-1", method: :put
        = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/star-xxl.png', title: "Favorite This Piece"), assign_favorite_post_post_path(@post), method: :put

    .posts-show-editing
      .editdestroy
        - if can? :edit, @post
          = link_to "edit", edit_post_path(@post)

        - if can? :destroy, @post
          = link_to "destroy", post_path(@post), :method => :delete

  .posts-show-right
    .posts-show-image
      = image_tag @post.photo


  / .posts-show-description
  /   = @post.description
  
  / .posts-show-share
  /   %span.st_facebook_large{displaytext: "Facebook"}
  /   %span.st_twitter_large{displaytext: "Tweet"}
  /   %span.st_pinterest_large{displaytext: "Pinterest"}
  /   %span.st_tumblr_large{displaytext: "Tumblr"}
  /   %span.st_reddit_large{displaytext: "Reddit"}
  /   %span.st_googleplus_large{displaytext: "Google +"}
  /   %span.st_email_large{displaytext: "Email"}

  / .posts-show-table
  /   :css
  /     .tftable {font-size:12px;color:#333333;width:70%;border-width: 1px;border-color: #F26349;border-collapse: collapse;text-align:center;margin-left:auto;margin-right:auto;}
  /     .tftable th {font-size:12px;background-color:#F26349;border-width: 1px;padding: 8px;border-style: solid;border-color: #F26349;text-align:center;}
  /     .tftable tr {background-color:#F26349;text-align:center;}
  /     .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #F26349;text-align:center;}
  /     .tftable td:hover {background-color:#ffffff;color:#E92603;text-align:center;}
  /     .tftable th:hover {background-color:#ffffff;color:#E92603;text-align:center;}
  /   %table.tftable{border: "1"}
  /     %tr
  /       %th Artist
  /       %th Medium
  /       %th Commission
  /       %th Curation Score
  /       %th Address
  /       %th Tags
  /     %tr
  /       %td= @post.artist
  /       %td= @post.medium
  /       %td= @post.commision
  /       %td= "Curation Score: #{@post.score}"
  /       %td= @post.address
  /       %td= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

  / .posts-show-voting
  /   - if current_user.present?
  /     = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/arrow-141-xxl.png', title: "Upvote"), vote_post_path(@post) + "?score=1", method: :put
  /     = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/arrow-204-xxl.png',title: "Downvote"), vote_post_path(@post) + "?score=-1", method: :put
  /     = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/star-xxl.png', title: "Favorite This Piece"), assign_favorite_post_post_path(@post), method: :put

  / .posts-show-editing
  /   .editdestroy
  /     - if can? :edit, @post
  /       = link_to "edit", edit_post_path(@post)

  /     - if can? :destroy, @post
  /       = link_to "destroy", post_path(@post), :method => :delete

  / .posts-show-image
  /   = image_tag @post.photo
=======
.container.sixteen.columns
  #PostShowImage.twelve.columns.alpha
    = image_tag @post.photo
>>>>>>> 98173c47a99eb179f09b92af1505669ba3d3ff29

  #PostShowSidebar.four.columns.omega
    %h2= @post.title
    %br
    %br
    %br
    = @post.description
    %br
    %br
    %h4 By: 
    = @post.artist
    %br
    %br
    %h5 Medium
    = @post.medium
    %br
    %br
    %h5 Commission
    = @post.commision
    %br
    %br
    %h5 Score
    = @post.score
    %br
    %br
    %h5 Address
    = @post.address
    %br
    %br
    %hr
    #PostShowTags
      = raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')
    %br
    %br
    %br
    %hr
    - if current_user.present?
      / = link_to "Star", assign_favorite_post_path(@post), method: :put 
      = link_to "up", vote_post_path(@post, type: "up"), method: "post"
      %br
      %br
      = link_to "down", vote_post_path(@post, type: "down"), method: "post"
      %br
      %br
      %hr
    - if can? :edit, @post
      = link_to "edit", edit_post_path(@post)
      %br
      %br
    - if can? :destroy, @post
      = link_to "delete", post_path(@post), :method => :delete
