
.posts-show-general
  .posts-show-title
    %h2= @post.title 

  .posts-show-description
    = @post.description
    
  .posts-show-table
    :css
      .tftable {font-size:12px;color:#333333;width:70%;border-width: 1px;border-color: #F26349;border-collapse: collapse;text-align:center;margin-left:auto;margin-right:auto;}
      .tftable th {font-size:12px;background-color:#F26349;border-width: 1px;padding: 8px;border-style: solid;border-color: #F26349;text-align:center;}
      .tftable tr {background-color:#F26349;text-align:center;}
      .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #F26349;text-align:center;}
      .tftable td:hover {background-color:#ffffff;color:#E92603;text-align:center;}
      .tftable th:hover {background-color:#ffffff;color:#E92603;text-align:center;}
    %table.tftable{border: "1"}
      %tr
        %th Artist
        %th Medium
        %th Commission
        %th Curation Score
        %th Address
        %th Tags
      %tr
        %td= @post.artist
        %td= @post.medium
        %td= @post.commision
        %td= "Curation Score: #{@post.score}"
        %td= @post.address
        %td= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

  .posts-show-voting
    - if current_user.present?
      = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/arrow-141-xxl.png', title: "Upvote"), vote_post_path(@post) + "?score=1", method: :put
      = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/arrow-204-xxl.png',title: "Downvote"), vote_post_path(@post) + "?score=-1", method: :put
      = link_to image_tag('http://www.iconsdb.com/icons/preview/color/E92603/star-xxl.png', title: "Favorite This Piece"), assign_favorite_post_post_path(@post), method: :put

  .posts-show-editing
    .editdestroy
      - if can? :edit, @post
        = link_to "edit", edit_post_path(@post)

      - if can? :destroy, @post
        = link_to "delete", post_path(@post), :method => :delete

  .posts-show-image
    = image_tag @post.photo

  / .posts-show-artist
  /   Artist:
  /   = @post.artist
  /   %br
  / .posts-show-commision
  /   Commisioned?:
  /   = @post.commision
  /   %br
  / .posts-show-medium
  /   Medium:
  /   = @post.medium
  /   %br
  / .posts-show-address
  /   Address:
  /   = @post.address
  /   %br
  
  / .posts-show-curation
  /   = "Curation Score: #{@post.score}"


  / .posts-show-tags
  /   / the HTML for the tags has escaped, so pass this code through the raw method so that it isn’t escaped. 
  /   %br
  /   Tags: #{raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')} 

  