
/ img- 12
/ sidebar- 4

.container.sixteen.columns
  
  #PostShowImage.twelve.columns.alpha
    = image_tag @post.photo 

  #PostShowSidebar.four.columns.omega
    %h2= @post.title
    %br
    %br
    %br
    = @post.description
    %br
    %br
    %h4 By: 
    = @post.artist
    %br
    %br
    %h5 Medium
    = @post.medium
    %br
    %br
    %h5 Commission
    = @post.commision
    %br
    %br
    %h5 Score
    = @post.score
    %br
    %br
    %h5 Address
    = @post.address
    %br
    %br
    #PostShowTags
      = raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
    %br
    %br
    - if current_user.present?
      / = link_to "Star", assign_favorite_post_path(@post), method: :put 
      = link_to "up", vote_post_path(@post, type: "up"), method: "post"
      %br
      %br
      = link_to "down", vote_post_path(@post, type: "down"), method: "post"
      %br
      %br
    - if can? :edit, @post
      = link_to "edit", edit_post_path(@post)
      %br
      %br
    - if can? :destroy, @post
      = link_to "delete", post_path(@post), :method => :delete