!!!
%html
  %head
    %title AeroSoul
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyCmfrzXEicBQQ8TYMV6A7--tcZL2nyYIjE&sensor=false"}
    %script{src:"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}

    %link{href: "http://fonts.googleapis.com/css?family=Fenix|Noto+Sans|Droid+Sans|Average+Sans|PT+Sans|Istok+Web|Roboto+Condensed|Roboto:400,300|Doppio+One|Varela+Round|Ruda|Carme|Titillium+Web|Maven+Pro|Vollkorn", rel: "stylesheet", type: "text/css"}/
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}/

    = javascript_include_tag "application"
    %link{href:"http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css"}

    #Nav.container.sixteen.columns
      #NavImage.six.columns.alpha
        = link_to image_tag('/assets/AeroLogo.png'), root_url
        - flash.each do |first_name, msg|
          = content_tag :div, msg, :id => "flash_#{first_name}"

      #NavLinks.ten.columns.alpha
        - if user_signed_in?
          = link_to "Curate", posts_path
          = link_to "Discover", maps_path
          = link_to "New Post", new_post_path
          = link_to "Profile", edit_user_registration_path
          = link_to 'Logout',  destroy_user_session_path, method: :delete
        - else
          = link_to "Curate", posts_path
          = link_to "Discover", maps_path
          = link_to "Sign Up", new_user_registration_path
          = link_to "Log In", new_user_session_path

    = yield

    %footer
      #footer.container.sixteen.columns
        %br
        %br
        %hr
        #SidebyFour.four.columns.alpha
          = link_to "Curate", posts_path
          %br
          = link_to "Discover", maps_path
          
        #SidebyFour.four.columns.omega
          = link_to "New Post", new_post_path
          %br
          = link_to "Edit User Profile", edit_user_registration_path

        #SidebyFour.four.columns.omega
          = link_to "About", about_index_path
          %br
          = link_to "Terms of Service", terms_path

        #SidebyFour.four.columns.omega
          = link_to "Sign Up", new_user_registration_path
          %br
          = link_to "Log In", new_user_session_path
      %br
      %br
        .generalsearchbarsection
          .generalsearchbar
            = form_tag searches_path do
              = text_field_tag :query
              = submit_tag "Search"

